<script src="https://unpkg.com/mustache@latest"></script>
<script src="{{ site.baseurl }}/public/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/public/search.js"></script>

<script id="grantListTemplate" type="x-tmpl-mustache">
{% raw %}
<p class="searchSummary">Found {{ count }} results.</p>

<ul class="grantList">
{{#grants}}
    <li><h3><a href="{{ url }}" title="{{ title }}">{{ title }}</a></h3>
        <p class="grantAuthor">by {{ author }} in {{ year }}</p>
        <p class="grantFunderProgram">Funder: {{ funder }}{{#program}}<br />Program: {{ program }}{{/program}}</p>
        <p class="links">
            <a href="{{ link }}">{{ link }}</a>
        </p>
        <p class="grantDiscipline">{{#discipline}}Discipline: {{ discipline }}</p>{{/discipline}}
        <p class="grantStatus">Status: {{ status }}</p>
        <p class="grantScore">Score: {{ score }}</p>
    </li>
{{/grants}}
</ul>
{% endraw %}
</script>

<div class="wrap">
    <form class="search">
       <input id="searchTerm" type="text" class="searchTerm" placeholder="What are you looking for?" required>
       <button type="submit" class="searchButton" id="grantSearch">
         <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
</div>

<div id="searchResults"></div>
